.menuItem {
    @apply mx-2 flex items-center
}

.Border {
    @apply border-solid border-2 border-red-500
}

html,
body {
    @apply overscroll-none;

}

/* Home Content */
.home-content {
    transition: filter 0.3s ease, pointer-events 0.3s ease;
}

.blurred {
    filter: blur(5px);
    pointer-events: none; /* Makes the content non-interactive */
}

/* Modal Overlay */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Dimmed background */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Ensures it appears above other content */
}

/* Modal */
.modal {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 400px;
  
    z-index: 1001; /* Higher than overlay */
}
